.modal {
  position: fixed;
  inset: 0;
  z-index: var(--z-modal);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: var(--z-modal-content);

  max-width: 30rem;
  width: 100%;
  padding: 1rem;

  border-radius: 0.3rem;

  background-color: white;
}

.backdrop {
  z-index: var(--z-modal-backdrop);

  cursor: pointer;
}

@media (min-width: 800px) {
  .content {
    padding: 1.5rem;
  }
}
