.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--z-modal);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  z-index: var(--z-modal-content);

  max-width: 30rem;
  width: 100%;

  padding: 1rem;

  border-radius: 0.3rem;

  background-color: white;
}

.backdrop {
  z-index: var(--z-modal-backdrop);

  cursor: pointer;
}

@media (min-width: 800px) {
  .content {
    padding: 1.5rem;
  }
}
