.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: absolute;
  inset: 0;

  background-color: hsl(var(--clr-neutral-900), 50%);
}

.contribution {
  position: absolute;
  right: 1rem;
  bottom: 1rem;

  font-size: 0.9rem;
  color: hsl(var(--clr-neutral-100));
}

.left {
  background: url("/bg-auth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
  flex-grow: 1;
  height: 100%;
}

.right {
  --py: 1.75rem;
  --px: 1.5rem;

  position: absolute;
  max-width: 24rem;
  width: 100%;
  padding: var(--py) var(--px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  margin-bottom: 1.75rem;

  font-size: 1.75rem;
  font-weight: bold;
}

.notice {
  margin-top: 1.5rem;

  font-size: 0.9rem;
}

@media (min-width: 1200px) {
  .backdrop {
    background-color: initial;
  }

  .contribution {
    right: auto;
    left: 1rem;
  }

  .right {
    --px: 2.25rem;

    position: relative;
    height: 100%;
    align-items: start;
  }
}
