.upload-button {
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 9999px;

  font-size: 2rem;

  cursor: pointer;

  transition: background-color 100ms ease;
}
.upload-button:hover {
  background-color: hsl(var(--clr-neutral-200));
}
.upload-icon {
  --size: 1.25rem;
  width: var(--size);
  height: var(--size);
}
.hidden {
  display: none;
}
@media (min-width: 600px) {
  .upload-icon {
    --size: 1.5rem;
  }
}
