.item {
  width: 100%;

  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  border: none;

  background-color: transparent;

  color: hsl(var(--clr-neutral-100));
  font-size: 0.875rem;
  text-decoration: none;

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.item.active {
  background-color: hsla(var(--clr-neutral-800), 0.8);
}

.item:hover {
  background-color: hsla(var(--clr-neutral-700), 0.8);
}
