.image-grid-skeleton {
  --max-item-width: 12rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--max-item-width), 100%), 1fr)
  );
  gap: 1rem;
}

@media (min-width: 800px) {
  .image-grid-skeleton {
    --max-item-width: 18rem;
  }
}
