.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.heading {
  margin-top: 2rem;

  font-size: 2.5rem;
  font-weight: bold;
}

.navigation {
  margin-top: 1rem;

  font-size: 1.1rem;
  color: hsl(var(--clr-neutral-800));
}
