.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form > .text-field + .text-field {
  margin-top: 0.75rem;
}
.form > button {
  margin-top: 1.75rem;
}

.success {
  width: 100%;
  margin-top: 0.85rem;
  padding: 1rem;

  border-radius: 0.4rem;

  font-size: 0.9rem;
  color: hsl(var(--clr-neutral-800));

  background-color: hsl(var(--clr-success-400));
}

@media (min-width: 1200px) {
  .form {
    align-items: start;
  }
}
