.button {
  padding: 0.8rem 1.2rem;

  color: white;
  font-weight: bold;

  background-color: hsl(var(--clr-primary-600));

  border-radius: 0.4rem;
  border: none;

  cursor: pointer;
  transition-duration: 100ms;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
}

.button:hover {
  background-color: hsl(var(--clr-primary-700));
}
