.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form > .text-field + .text-field {
  margin-top: 0.75rem;
}
.form > button {
  margin-top: 1.75rem;
}

.alert {
  margin-top: 0.75rem;
}
