.card {
  width: 100%;
  text-align: center;

  transition-property: opacity;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
.card:hover {
  opacity: 90%;
}

.img {
  width: 100%;
  aspect-ratio: 5 / 3;

  margin-bottom: 0.5rem;

  background-image: linear-gradient(
    to right bottom,
    hsl(var(--clr-neutral-200)),
    hsl(var(--clr-neutral-100)),
    hsl(var(--clr-neutral-100))
  );

  border-radius: var(--border-radius-sm);
}

.name {
  font-size: 0.875rem;
}

.link {
  text-decoration: none;
  color: var(--clr-neutral-800);
}

@media (min-width: 800px) {
  .name {
    font-size: 1rem;
  }
}
