.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.75rem 1.5rem;
}

.heading {
  margin-bottom: 1.5rem;

  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
}

.notice-container {
  margin-top: 1.75rem;

  text-align: center;
}

.notice-link,
.notice {
  font-size: 0.875rem;
}

.notice + .notice {
  margin-top: 0.5rem;
}
