.form > label ~ label {
  display: inline-block;
  margin-top: 1rem;
}

.form > label {
  display: inline-block;
  margin-bottom: 0.2rem;
}

.form > button {
  margin-top: 1rem;
}

.alert-container {
  margin-top: 1rem;
}

.form > button {
  margin-bottom: 2rem;
}
