.main {
  display: flex;
  height: 100%;
  align-items: stretch;
}

.main > * + * {
  padding-left: var(--sidebar-size-closed);
}

.container {
  flex: 1;
  height: 100%;
  padding: 1rem;
  overflow: auto;
}

@media (min-width: 800px) {
  .main > * + * {
    margin-left: 0;
  }

  .container {
    padding: 2rem;
  }
}
