.main-layout {
  display: flex;
  height: 100%;
  align-items: stretch;
}

.right-outer-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.right-inner-container {
  flex: 1;
  height: 100%;
  padding: 0.5rem;
  padding-top: 0.75rem;
  overflow: auto;
}

@media (min-width: 600px) {
  .right-inner-container {
    padding: 1rem;
    padding-top: 1.25rem;
  }
}

@media (min-width: 800px) {
  .right-inner-container {
    padding: 1.25rem;
    padding-top: 1.5rem;
  }
}
