.main {
  width: 100%;
}

.add-icon {
  --size: 1.75rem;
  width: var(--size);
  height: var(--size);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.modal-heading {
  font-size: 1.2rem;
  font-weight: bold;
}
.modal-close-icon {
  --size: 1.25rem;
  width: var(--size);
  height: var(--size);
}
