.main {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-bottom: 1.5rem;
}

.header > .close-button {
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 9999px;

  font-size: 1.2rem;

  transition: background-color 100ms ease;
}
.header > .close-button:hover {
  background-color: hsl(var(--clr-neutral-200));
}
.header > .close-button > svg {
  --size: 1.75rem;
  width: var(--size);
  height: var(--size);
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.modal-heading {
  font-size: 1.2rem;
  font-weight: bold;
}
.modal-close-icon {
  --size: 1.25rem;
  width: var(--size);
  height: var(--size);
}
