.main {
  text-align: center;
  line-height: 1.5;
}

.main > * + * {
  margin-top: 1rem;
}

.loading {
  padding: 0.8rem;
  border-radius: 0.3rem;
}

.loading {
  background-color: hsl(var(--clr-neutral-100));
  color: hsl(var(--clr-neutral-900));
}

.info {
  color: white;
  font-size: 0.9rem;
}
