.sidebar {
  --sidebar-size: 18rem;

  flex: none;
  position: fixed;
  top: 0;
  left: 0;
  max-width: var(--sidebar-size);
  width: 100%;
  height: 100%;
  z-index: var(--z-sidebar);

  background-color: hsl(var(--clr-neutral-800));
  color: white;

  transition-property: margin-left;
  transition-duration: 400ms;
  transition-timing-function: easeInOutQuad;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4rem 0;

  transition-property: opacity translate;
  transition-duration: 400ms;
  transition-timing-function: easeInOutQuad;
}

.closed {
  margin-left: calc(-1 * var(--sidebar-size));
  overflow: hidden;
}

.avatar {
  --size: 8rem;
  width: var(--size);
  height: var(--size);
  margin-bottom: 1.5rem;

  border-radius: 9999px;

  background-color: hsl(var(--clr-neutral-300));
}

.name {
  margin-bottom: 4rem;

  font-size: 1.1rem;
  font-weight: 500;
}

.backdrop {
  z-index: var(--z-sidebar-backdrop);

  cursor: pointer;
}

@media (min-width: 800px) {
  .sidebar {
    position: relative;
  }
  .backdrop {
    display: none;
  }
}
