.sidebar {
  --sidebar-size: 18rem;

  flex: none;
  position: fixed;
  top: 0;
  left: 0;
  max-width: var(--sidebar-size);
  width: 100%;
  height: 100%;
  z-index: var(--z-sidebar);

  border-right: 1px solid hsla(var(--clr-neutral-700), 0.7);

  background-color: hsl(var(--clr-neutral-900));
  color: white;

  transition-property: margin-left;
  transition-duration: 400ms;
  transition-timing-function: easeInOutQuad;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.closed {
  margin-left: calc(-1 * var(--sidebar-size));
  overflow: hidden;
}

.info {
  --py: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--py);
  padding-bottom: var(--py);
  width: 100%;

  border-bottom: 1px solid hsla(var(--clr-neutral-700), 0.7);

  background-color: hsl(var(--clr-neutral-800));
}

.info-avatar {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  margin-bottom: 1.5rem;

  border-radius: 9999px;

  background-color: hsl(var(--clr-neutral-300));
}

.info-name {
  font-weight: 500;
}

.sidebar-items {
  width: 100%;
  margin-top: 1rem;
}

.backdrop {
  z-index: var(--z-sidebar-backdrop);

  cursor: pointer;
}

@media (min-width: 1000px) {
  .sidebar {
    position: relative;
  }
  .backdrop {
    display: none;
  }
}
