.overlay {
  position: fixed;
  inset: 0;
  z-index: var(--z-modal);

  display: flex;
}

.backdrop {
  z-index: var(--z-modal-backdrop);
  cursor: pointer;
}

.content {
  position: relative;
  z-index: var(--z-modal-content);

  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  padding: 0.5rem;

  background-color: hsla(var(--clr-neutral-900), 0.9);
}

.image {
  position: relative;

  width: 100%;
  height: 100%;

  object-fit: contain;
}

.info {
  --info-width: 20rem;

  position: absolute;
  right: 0;
  z-index: var(--z-modal-2-content);

  flex: none;
  width: var(--info-width);
  height: 100%;
  padding: 1rem;
  margin-right: calc(-1 * var(--info-width));
  opacity: 0;

  background-color: hsl(var(--clr-neutral-800));
  color: hsl(var(--clr-neutral-100));

  transition-property: margin-right opacity;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}
.info-backdrop {
  z-index: var(--z-modal-2-backdrop);

  cursor: pointer;
}
.info.is-open {
  margin-right: 0;
  opacity: 100%;
}

.info-close-button {
  margin-left: auto;
  margin-bottom: 1rem;
}

.info-name {
  font-weight: bold;
  margin-bottom: 3rem;
}

.info-title {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.info-section + .info-section {
  margin-top: 2rem;
}

.change-image-button {
  position: absolute;
  z-index: var(--z-modal-content);

  width: 4rem;
  height: 70%;
  flex: none;

  background-color: hsla(var(--clr-neutral-900), 0.3);

  color: white;

  cursor: pointer;
  opacity: 0;

  transition: opacity 150ms ease-in-out;
}
.change-image-button.is-left {
  left: 0;
}
.change-image-button.is-right {
  right: 0;
}

.change-image-icon {
  --size: 1.75rem;

  width: var(--size);
  height: var(--size);
}

.change-image-button:hover {
  opacity: 1;
}

.func-button {
  --size: 3.25rem;

  position: absolute;
  top: 0.75rem;

  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  padding: 0.75rem;

  border-radius: 9999px;

  color: white;

  transition: background-color 100ms ease-in-out;
}
.func-button.is-right {
  right: 0.75rem;
}
.func-button.is-left {
  left: 0.75rem;
}
.func-button:hover {
  background-color: hsla(var(--clr-neutral-900), 0.3);
}
.func-icon {
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
}
